version: '3.5'

services:
  backend:
    build:
      dockerfile:  Dockerfile
      context: .
    ports:
      - "3000:3000"
    depends_on:
      - db
#    rewrite dockerfile build CMD to start with watch mode
    command: yarn start
    volumes:
#      will cache node_modules
      - /app/node_modules
#      check host changes
      - ./src:/app/src
  db:
    image: postgres:12-alpine
    command: postgres -c 'max_connections=200'
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
